extends layout

block content

  .row
    #map.col-sm-12
    #overlay1.col-sm-3
      span
    #overlay2.col-sm-offset-3.col-sm-6
      h3 NOM-ADD: Add Now, Nom Later
      #custom-search-input
        .input-group.col-md-12
          input.form-control.input-lg(type='text', placeholder='Find noms')
          span.input-group-btn
            button.btn.btn-info.btn-lg(type='button')
              i GO!
    #placeinfo.col-sm-offset-9.col-sm-3
      span NOM LATER
        for restaurant in restaurants
          ul
            li=restaurant.name
            li=restaurant.geometry.location.lat
            li=restaurant.geometry.location.lng
