extends layout

block content

  .row
    #map.col-sm-12
    #overlay1.col-sm-3
      h3 Your Saved Noms
      script#productRowTpl(type='text/template').
        <div class="row product" data-id="{{Id}}">
          <div class="col-md-2 eateryname">{{Name}}</div>
          <div class="col-md-2 address">{{Address}}</div>
          <div class="col-md-1 delete">
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
    #overlay2.col-sm-offset-3.col-sm-6
      h3 NOM-ADD: Add Now, Nom Later
      #custom-search-input
        .input-group.col-md-12
          input.form-control.input-lg(type='text', placeholder='Find noms')
          span.input-group-btn
            button.btn.btn-info.btn-lg(type='button')
              i GO!
    #placeinfo.col-sm-offset-9.col-sm-3
      span Place for noms
        for restaurant in restaurants
          ul
            li=restaurant.name
            li=restaurant.geometry.location.lat
            li=restaurant.geometry.location.lng
